<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tasks</title>
</head>
<body>
  <%=	 link_to "Add a task", newTask_path %>
  <% if @tasks.length == 0 %>
    <h3>You have no tasks yet</h3>
    <%=	 link_to "Create your first task", newTask_path %>
  <%	else  %>
    <% @tasks.each_with_index do |task,idx| %>
      <p><%= link_to "Task #{idx+1}",task_path(task)%></p>
    <% end %>
  <%	end  %>
</body>
</html>