<h2><%=	@task.name %></h2>
<span>
  <%=	button_to "View All Tasks", action: "index"  %>
  <%= button_to "Edit Task", action: "edit" %></button>
  <%= button_to "Delete Task", {action: "destroy", id:@task.id} , method: "delete", data: {confirm: "Are you sure you want to delete this task?"} %>
</span>
