
<div class="mui-appbar">
  <table width="100%">
    <tr class="mui--appbar-height">
      <td class="mui--text-title">Todo List</td>
      <td align="right">
        <ul class="mui-list--inline mui--text-body2">
          <!--<li><%# link_to %></li>-->
          <li><a class="mui--text-menu mui--text-white" href="#">View all tasks</a></li>
          <li><a class="mui--text-menu mui--text-white" href="#">Create a Task</a></li>
          <li><a class="mui--text-menu mui--text-white" href="#">Logout</a></li>
        </ul>
      </td>
    </tr>
  </table>
</div>
