// Place all the styles related to the TodoList controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



div.mui-panel#outer-panel {
  background-color: #9E9E9E;
  margin-bottom: 0;
}

.mui-row.mui-panel.task {
  background-color: #BDBDBD;
  margin: 0 10px 10px;

}

div.mui-panel {
  //margin-bottom: 0;
}

div.tasks {
  background-color: #9E9E9E;
}

.float {
  float: right;
}

a.action-helpers{
  color: #64B5F6;
}