// Place all the styles related to the TodoList controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'colors';


div.mui-panel#outer-panel {
  background-color: $containerColor;
  margin-bottom: 0;
}

.mui-row.mui-panel.task {
  background-color: $innerContainerColor;
  margin: 0 10px 10px;

}

div.mui-panel {
  //margin-bottom: 0;
}

div.tasks {
  background-color: $containerColor;
}

.float {
  float: right;
}

a.action-helpers{
  color: $innerContainerAccent;
}

div.container {
  background-color: $containerColor;
}

a.mui-btn.light{
  background-color: $innerContainerAccent;
  color: #757575;
  font-size: 18px;
  padding-left: 6px;
}

a.light i.material-icons {
  font-size: 18px;
  margin-right: 10px;
}