<%= render "shared/navbar" %>
<div class="mui-row">
  <div class="mui-col-sm-6 mui-col-sm-offset-3">
    <div class="space"></div>
    <div class="space"></div>
    <div class="mui-panel" id="outer-panel">
      <div class="mui-row">
        <h2 class="mui-col-sm-8">You have <%= @lists.length %> lists</h2>
        <%= link_to "+", newList_path, {class: "mui-btn mui-btn--primary mui-btn--fab mui-col-sm-offset-3"} %>
        <!--<button class="mui-btn mui-btn&#45;&#45;primary mui-btn&#45;&#45;fab mui-col-sm-offset-3">+</button>-->
        <!--<button class="mui-btn mui-btn&#45;&#45;primary mui-btn&#45;&#45;fab mui-col-sm-offset-3">+</button>-->
      </div>

      <% @lists.each_with_index do |list,idx| %>
          <div class="mui-row mui-panel task"><%= link_to "Task #{idx+1}",task_path(list)%></div>
      <% end %>

    </div>
  </div>
</div>





