<% content_for :stylesheets do %>
    <style type="text/css">

      #cancel {
        /*float: right;*/
      }

      div.mui-textfield{
        margin-left: 300px;
      }

      @media (max-width: 750px) {
        div.mui-textfield {
          margin-left: 100px;
        }
      }


    </style>
<% end %>
<%= render "shared/navbar" %>
<div class="space"></div>
<div class="space"></div>
<div class="mui-row">
  <div class="mui-container mui-col-xs-offset-1 mui-col-md-offset-2">
    <%= form_for(@list, :url=>{:action => "create", controller: :todo_list}, remote: true, :html => {:class => "mui--text-center mui-form--inline addList"} ) do %>
        <legend class="">Create a new Todo List</legend>
        <div class="mui-textfield mui-col-md-5 mui-col-xs-4">
          <input type="text" name="todo_list[name]" placeholder="List name">
        </div>
        <button type="submit" class="mui-btn mui-btn--raised mui-btn--primary" id="createList">Submit</button>
        <%= link_to "Cancel", {action:"index"},{class:"mui-btn mui-btn--raised mui-btn--danger" ,id:"cancel"}  %>
    <%end %>
  </div>

</div>

<script type="text/javascript">

  $(document).ready(function(){


//    $(".addList").submit(function(event){
//      event.preventDefault();
//      var name  = $('input[name=name]').val();
//      toggleForm();
//      $.ajax({
//        type:"POST",
//        url: "/lists",
//        data: {name:name},
//        headers: {"Access-Control-Allow-Origin":"localhost:3000"},
//      });
//      return false;
//    });
  });
</script>