<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tasks</title>
</head>
<body>

  <% if @tasks.length == 0 %>
    <h3>You have no tasks yet</h3>
    <%=	 button_to "Create your first task", newTask_path, method: "get" %>
  <%	else  %>
    <%=	 button_to "Add a task", newTask_path, method: "get" %>
    <ul>
      <% @tasks.each_with_index do |task,idx| %>
          <li><%= link_to "Task #{idx+1}",task_path(task)%></li>
      <% end %>
    </ul>

  <%	end  %>
</body>
</html>